<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Author</key>
    <string>Greg Dhuse</string>
	<key>Builder Version</key>
	<string>10600.3.18</string>
	<key>CFBundleDisplayName</key>
    <string>Live Bookmarks for Safari</string>
	<key>CFBundleIdentifier</key>
	<string>com.helixinteractive.safari-live-bookmarks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
        <array>
            <dict>
                <key>Filename</key>
                <string>bar.html</string>
                <key>Identifier</key>
                <string>live-bookmarks</string>
                <key>Label</key>
                <string>Live Bookmarks</string>
            </dict>
        </array>
        <key>Database Quota</key>
        <real>10485760</real>
        <key>Global Page</key>
        <string>global.html</string>
        <key>Popovers</key>
        <array>
            <dict>
                <key>Filename</key>
                <string>popover.html</string>
                <key>Identifier</key>
                <string>live-bookmarks-popover</string>
            </dict>
        </array>
        <key>Toolbar Items</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>live-bookmarks-button</string>
                <key>Image</key>
                <string>button-icon.png</string>
                <key>Label</key>
                <string>Live Bookmarks</string>
                <key>Popover</key>
                <string>live-bookmarks-popover</string>
                <key>Palette Label</key>
                <string>Live Bookmarks for Safari</string>
            </dict>
        </array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
            <key>End</key>
            <array>
                    <string>scripts/feed-detection.js</string>
            </array>
        </dict>
	</dict>
    <key>Description</key>
    <string>Firefox-like live bookmarks for Safari</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
        <key>Website Access</key>
        <dict>
            <key>Include Secure Pages</key>
            <true/>
            <key>Level</key>
            <string>All</string>
        </dict>
	</dict>
</dict>
</plist>
