body {
}
div#live-bookmarks-container {
}
div#live-bookmarks-container ol#live-bookmarks {
    margin: 0;
    padding: 0;
}
div#live-bookmarks-container ol#live-bookmarks li {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}


