body {
    padding: 0;
    margin: 0;
}
div.container {
    padding: 7px;
    margin: 0;
    height: 30px;
}
ol#live-bookmarks {
    margin: 0;
    padding: 0;
}
ol#live-bookmarks > li {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 6px 0 8px;
}
ol#live-bookmarks > li.selected {
    color: #FFF;
    background-color: #555;
    -webkit-border-radius: 10px;
    text-shadow: #333 1px 1px 1px;
    padding: 2px 6px 3px 8px;
    margin: -2px 0 0 0;
}
ol#live-bookmarks > li > span.arrow {
    padding-left: 2px;
}
